{
    "config": {
        "host": "balin.dreamhost.com",
        "username": "xxx",
        "password": "xxx",
        "port": 22",
        "remoteDir": "/home/dh_cfdecf/lokeshdhakar.com/projects/lightbox2"
    }
}